.button
    +e( a-100, cur-p )
    height: 75%
    background-color: $black
    color: $white
    border-radius: $border_radius
    border: none
    width: 24vw
    +tablet
        width: 12.5vw
    &:hover
        background-color: $white
        color: $black

.activeButton
    background-color: $orange

