$barOutline: 1vw
$orange: $black

.notes, .noteQualities
    +e( a-100-fb, gradient, a-fb-jc )
    flex-wrap: wrap !important
    width: 100vw
    +desktop
        width: 95vw
    border-spacing: 1vw
    flex-flow: row
    box-shadow: inset 0 0 40px rgba( 50,50,50,0.2 ), inset 0 0 10px rgba( 50,50,50,0.4 )

.note, .quality
    +e( d-tbc )
    +e( ta-c, cur-p )
    margin: 0.5vw
    min-width: 13.3vw
    line-height: 13.1vw
    font-size: 0.8em
    border-radius: 50%
    box-shadow: 0 5px 5px rgba( 50,50,50,0.5 )
    +tablet
        line-height: 6.4vw
        min-width: 6.4vw
        height: 6.4vw
        vertical-align: center
        font-size: 1em
    +desktop
        line-height: 6.7vw
        min-width: 6.7vw
        height: 6.7vw
    background-color: $white

.chart
    +e( a-100-fb, a-fb-c )
    grid-area: b
    width: 100vw
    background: rgba( 200,200,200,1 )

.chordContainer
    +e( d-tb )
    width: 100vw


.chartControls
    +e( a-100-fb, a-fb-r, a-fb-jc )
    justify-content: center
    justify-items: center
    .button
        +e( a-25 )
        width: 21.4%
        background-color: rgba( 255,255,255,0.5 )
        height: 30px
        font-size: 0.6em
        color: $black
        border-radius: 3px
        box-shadow: 0 5px 5px rgba( 50,50,50,0.3 )
        margin: 5px
        &:hover
            background-color: #861657
            color: $white
        +tablet
            font-size: 1em

.chartWorkspace
    +e( a-100-fb, a-fb-w, d-tb, a-fb-jc )
    justify-content: start
    align-content: baseline

.bar
    width: 23vw
    height: 10vw
    border: solid $barOutline rgba( 0,0,0,0 )
    +desktop
        border: solid $barOutline / 2 rgba( 0,0,0,0 )
        width: 10.9vw
        height: 6vw

    .barFooter
        display: flex
        flex-direction: row
        align-items: center
        align-content: center
        justify-content: space-around
    .repeatContainer
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-around
        align-content: center
        align-items: center
        padding: 2px
        width: 30%
        height: 70%
    .barPlug
        background: $black
        border-radius: 50%
        width: 50%
        height: 100%
        box-shadow: 0 1px 1px $black
        +desktop
            width: 35%
    .barRepeat
        width: 50%
        text-align: center
    .number
        width: 50%

.barContainer
    +e( ta-c, a-cent-cent )
    background-color: rgba(255,255,255,0.5)
    box-shadow: 0 5px 5px rgba( 50,50,50,0.5 )
    width: 90%
    height: 90%
    font-size: 0.8em
    +tablet
      font-size: 1em

.barChord
    height: 60%
    line-height: 8vw
    color: $black
    +tablet
        line-height: 5vw
        height: 80%

.barSelected
    border: solid $barOutline $color1
    +desktop
        border: solid $barOutline / 2 $color1
        

.barPlaying
    color: $white
    .barContainer
        background: #861657
        background: #a33a68

    .barChord
        color: $white

.dragging
    opacity: 0.2
    border: solid $barOutline magenta

.dragOverlay
    top: 0
    height: 100%
    div
        +e( a-50 )
        height: 100%
        background-color: $orange
        opacity: 0

$transparent: rgba( 255,255,255,0 )
.dropSelectedLeft
    border: solid $barOutline $transparent
    border-left: solid $barOutline $orange

.dropSelectedRight
    border: solid $barOutline $transparent
    border-right: solid $barOutline $orange

.dropSelected
    border: solid $barOutline $transparent

.rhythmNumber, .barChord, .barNumber, .barFooter
    width: 100%

.rhythmNumber, .barNumber, .barFooter
    +e( ta-r, bxz-bb )
    height: 40%
    background-color: rgba( 50, 50, 50, 0.1 )
    font-size: 0.6em
    +tablet
        font-size: 0.8em
        height: 20%
.plugActive
    background: $color2 !important
    box-shadow: inset 0 2px 2px rgba( 50,50,50,0.5 ) !important
