.details
    +e( a-100-fb, ov-h )
    
    width: 100vw
    grid-area: b
    +desktop
        width: 95vw
    .link-title
        color: $white

    .details-link
        +e( a-100, cur-p )
        background-color: lighten( $dark_black, 10% )
        margin-bottom: 2em
        height: 3em 
        &:hover
            background-color: lighten( $dark_black, 30% )
        .link-title
            +e( a-20, ta-r )
            font-size: 1.3em
            padding-right: 10px
            margin: 0
        a
            +e( a-80, ta-l )
            font-size: 1.3em
            color: $white
            text-decoration: none
