.details
    +e( a-100-fb, a-fb-c, a-fb-ac, a-fb-jc )
    +e( a-cent-cent )
    .link-title
        color: $white

    .center-container
        +e( a-cent-null, d-cent-cent )
        height: 50%
        +desktop
            width: 50%
    .details-link
        +e( a-100, cur-p )
        background-color: lighten( $dark_black, 10% )
        margin-bottom: 2em
        height: 3em 
        &:hover
            background-color: lighten( $dark_black, 30% )
        .link-title
            +e( a-20, ta-r )
            font-size: 1.3em
            padding-right: 10px
            margin: 0
        a
            +e( a-80, ta-l )
            font-size: 1.3em
            color: $white
            text-decoration: none
