.input-container
    +e( a-p-5 )
    border: solid 1px rgba( $white, 0.1 )

.num-input
    height: 75%
    text-align: center
    font-size: 1.5em
    border: none
    border-radius: $border_radius
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
        opacity: 1

