@mixin navigation-bar
    +e( a-100-fb, a-fb-jc, a-fb-ac )
    height: 75px
    background-color: darken( $dark_blue, 15% )
    +tablet
        height: 50px
    .center-container
        +e( a-100-fb, a-fb-r, a-fb-jsa, a-fb-ac )
        height: 100%

.navigation
    +navigation-bar

