@mixin navigation-bar
    +e( a-100, a-fb-r, a-fb-jsa, a-fb-c )
    display: table
    height: 5vh
    background-color: darken( $dark_blue, 15% )
    border-bottom: solid 1px lighten( $dark_black, 20% )
    +tablet
        height: 75px
    .center-container
        +e( a-100-fb, a-fb-r )
        display: table-cell
        height: 100%
    .button
        height: 100%

.navigation
    flex-wrap: nowrap
    +navigation-bar

