.piano
    +e( a-100-fb )
    .pianoNavigation
        +navigation-bar
        .center-container
            +e( a-75-fb )
            background-color: $dark_black

    .pianoControls
        +e( a-100 )
        .center-container
            +e( a-75-fb, a-fb-r )
            background-color: $dark_black
        label
            +e( a-50-fb, a-fb-ac, a-fb-jc )
        span
            color: $white
            margin-right: 5px
        .input-container
            +e( a-33 )
            *
              +e( a-33 )
              &:hover
                  background-color: lighten( $dark_black, 20% )

    .pianoSequence
        +e( a-100-fb )

    .pianoSequenceContainer
        +e( a-95-fb, a-fb-jsa, a-fb-r, m-c )
        border: 3px
        border-color: pink
        > div
            +e( a-45-fb )
            +e( a-fb-jsa )
            +e( a-fb-r )
            height: 12vw
            margin-bottom: 5px
            .pad
                +e( pos-r, cur-p )
                +e( a-cent-null )
                width: 18%
                height: 70%
                background-color: rgba(255,255,255, 0.6)
                border: solid 10px rgba(255,255,255, 0.0)
                border-radius: 50%

    .pianoSequenceControls
        min-height: 100%
        width: 33%
        .center-container
            height: 100%
        .button
            height: 100%

