.transport
    +navigation-bar
    background-color: $dark_blue
    .input-container
        color: $white

#play, #save
    background-color: rgba( 50,150,50,1 )
    &:hover
        background-color: $orange
        color: $white
